<!-- FOOTER ONLY -->
<footer>
    <div class="tcenter">
      <br>     
      &copy; 2023 <br>
      <strong> Disclaimer:</strong> This website is under construction and is both functional and non-functional, simultaneously. Currently for academic purposes.
    </div> 
  </footer>