<nav class="">
    <a  href="/"><img class="home" src="imgs/Spotify_icon.svg.png"></a>
    <a href="/song">Random Song</a>
    <a href="/genre">Random Genre</a>
    <a href="/cover">Album Cover</a>
    <a href="/sentence">Speakify</a>
</nav>