<!DOCTYPE html>
<!--  start the doc and html here in header.ejs, and finish in footer.ejs -->
<html lang="en">
<!--include the header portion and possibly the title/navbar  -->
<%- include('partials/header.ejs') %>

    <body class="">
        <div class="container jcenter acenter tcenter ">
            <%- include('partials/heading.ejs') %>
        </div>
        <!-- starting from the body tag here..  -->
        <main>
            <div class="container jcenter acenter tcenter test">
                <h1>GET AN ALBUM COVER IMAGE</h1>
            </div>
            <div class="container jcenter acenter tcenter test">
                <h2 class="album"> Input an album name: </h2>
                <input id="album_cover" type="text">
                <button class="button_shape">Get image</button>
            </div>




        </main>

    </body>

    <%- include('partials/footer.ejs') %>

</html>
<!-- end the html page here in the footer, from header.ejs -->