<!DOCTYPE html>
<!--  start the doc and html here in header.ejs, and finish in footer.ejs -->
<html lang="en">
<!--include the header portion and possibly the title/navbar  -->
<%- include('partials/header.ejs') %>

    <body class="">
        <div class="container jcenter acenter tcenter  ">
            <%- include('partials/heading.ejs') %>
        </div>
        <!-- starting from the body tag here..  -->
        <main>
            <div class="container jcenter acenter tcenter test">
                <h1>Try creating a playlist that makes a sentance(spell sentence right challenge)</h1>
            </div>
            <div class="container jcenter acenter tcenter test">
                <h2 class="album">Input a sentence: </h2>
                <input id="get_sentence" type="text">
                <button id="sub_sentence" class="button_shape">Get playlist</button>
            </div>
            <div class="container jcenter acenter tcenter test">
                <h2 class="album">Created sentence: </h2>
                <div id="display_playlist" class="  acenter tcenter test" >&nbsp;tetsing</div>              
            </div>




        </main>
        <!-- <script src="scripts/speakify.js"></script> -->
    </body>

    <%- include('partials/footer.ejs') %>

</html>
<!-- end the html page here in the footer, from header.ejs -->