<!DOCTYPE html>
<!--  start the doc and html here in header.ejs, and finish in footer.ejs -->
<html lang="en">
<!--include the header portion and possibly the title/navbar  -->
<%- include('partials/header.ejs') %>

    <body class="">
        <div class="container jcenter acenter tcenter ">
            <%- include('partials/heading.ejs') %>
        </div>
        <!-- starting from the body tag here..  -->
        <main>
            <div class="container jcenter acenter tcenter ">
                <h1>GET A RANDOM SONG</h1>
            </div>
            <div class="container jcenter acenter tcenter ">                
                <button id="sub_track" class="button_shape">Get song</button>
            </div>
            <div class="container jcenter acenter tcenter ">                
                <div class="display" id="random_track"></div>
            </div>




        </main>
        <script src="scripts/init.js"></script>
        <script src="scripts/song.js"></script>
    </body>

    <%- include('partials/footer.ejs') %>

</html>
<!-- end the html page here in the footer, from header.ejs -->