:root {

}
html, body {
    height: 100%;
    width: 100%;
    background-color: #191414;
    font-family: 'Hammersmith One', sans-serif;
}
main {
    color: white;
}
nav {
    justify-content: center;
}
nav a {
    padding: 15px;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    color: #1db954;
}
img.home {
    margin-top: 2px;
    width: 35px;
    transform: scaleY(-1);
}

div.container {
    display: flex;
}

h2.album {
    color: #1db954;
    font-size: 2em;
    font-family: 'Chakra Petch';
    font-weight: 700;
    margin: 10px;   

}

.button_shape {
    margin: 10px;
    background-color: #1db954;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 4px #191414;
    font-size: 1.2em;    
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    filter: blur(.0px);
  }
  
  .button_shape:hover {
    transform: scale(1.04) perspective(1px) translateZ(0);
    backface-visibility: hidden;
    box-shadow: 4px 4px 4px #191414;
    filter: blur(.0px);
  }



footer {
color:black;

}
/* CUSTOM CSS */
.jcenter {
    justify-content: center;
}
.acenter {
    align-items: center
}
.tcenter {
    text-align: center;
}

.test {
    border: 2.5px solid black;
    border-radius: 4px;
}